<?xml version="1.0"?>
<config>
    <modules>
        <Ayopa_Login>
            <version>0.1.0</version>
        </Ayopa_Login>
    </modules>
    <frontend>
        <routers>
            <login>
                <use>standard</use>
                <args>
                    <module>Ayopa_Login</module>
                    <frontName>login</frontName>
                </args>
            </login>
        </routers>
        <layout>
            <updates>
                <login>
                    <file>login.xml</file>
                </login>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
   <web>
    <use>admin</use>
    <args>
     <module>Ayopa_Login</module>
     <frontName>login</frontName>
    </args>
   </web>
        </routers>
    </admin>
    <adminhtml>
  <menu>
   <web module="login">
    <title>Ayopa</title>
    <sort_order>71</sort_order>              
    <children>
     <items module="login">
      <title>Login</title>
      <sort_order>0</sort_order>
      <action>login/adminhtml_login</action>
     </items>
    </children>
   </web>
  </menu>
  <acl>
   <resources>
    <all>
     <title>Allow Everything</title>
    </all>
    <admin>
     <children>
      <Ayopa_Login>
       <title>Ayopa Login</title>
       <sort_order>10</sort_order>
      </Ayopa_Login>
     </children>
    </admin>
   </resources>
  </acl>
  <layout>
   <updates>
    <login>
     <file>login.xml</file>
    </login>
   </updates>
  </layout>
    </adminhtml>  
    <global>
        <models>
            <login>
                <class>Ayopa_Login_Model</class>
                <resourceModel>login_mysql4</resourceModel>
            </login>
            <login_mysql4>
                <class>Ayopa_Login_Model_Mysql4</class>
                <entities>
                    <web>
                        <table>login</table>
                    </web>
                </entities>
            </login_mysql4>
        </models>
        <resources>
            <login_setup>
                <setup>
                    <module>Ayopa_Login</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </login_setup>
            <login_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </login_write>
            <login_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </login_read>
        </resources>
        <blocks>
            <login>
                <class>Ayopa_Login_Block</class>
            </login>
        </blocks>
        <helpers>
            <login>
                <class>Ayopa_Login_Helper</class>
            </login>
        </helpers>
    </global>
</config>