<?xml version="1.0" ?>
<config>
    <tabs>
        <mynew_tab module="ayopamodule" translate="label">
            <label>Ayopa Settings</label>
            <sort_order>100</sort_order>
        </mynew_tab>
    </tabs>
    <sections>
        <ayopa module="ayopamodule" translate="label">
            <label>Configuration</label>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>mynew_tab</tab>
            <groups>
                <ayopamodule translate="label">
                    <label>Ayopa Login</label>
                    <comment>This is example of custom configuration.</comment>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <login translate="label comment">
                            <label>Ayopa Login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </login>
                        <password translate="label">
                            <label>Ayopa Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                    </fields>
                </ayopamodule>
            </groups>
        </ayopa>
    </sections>
</config>